@import "tailwindcss";
@import "@heroui/styles";

@theme inline {
  --sidebar-width: 240px;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-sidebar-bg: #ffffff;
  --color-sidebar-border: #f0f0f0;
  --color-sidebar-active: #f4f4f5;
  --color-sidebar-hover: #fafafa;
  --color-sidebar-muted: #71717a;

  --color-chart-1: #006FEE;
  --color-chart-2: #338ef7;
  --color-chart-3: #005bc4;
  --color-chart-4: #7dd3fc;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
